*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (10px --> 0.625*16px 16px is the default html page font size)
    font-size: 62.5%;  // 1rem/10px



    // orders matter!!! the last one apply if both meet the condition
    @include respond(tab-land) {   // ask width <1200px?
        font-size: 56.25%;         //1 rem = 9px -> 9/16=56.25%
    }

    @include respond(tab-port) {   //asks width < 900px?
        font-size: 50%;         //1 rem = 8px -> 8/16=50%
    }

    @include respond(phone) {      //asks width < 600px?
        font-size: 37.5%;         //1rem = 6px -> 6/16=37.5%
        // <600 is also <900 so the phone size will apply the tab-port sizeing
    }

    @include respond(big-desktop) {
        font-size: 75%;            //1rem = 12px -> 12/16 = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {   //asks width < 900px?
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
